<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.opsflow.ticket.mapper.TicketMapper">
    <sql id="Base_Column_List">
        id,
        ticket_no,
        title,
        description,
        category,
        priority,
        status,
        creator_id,
        assignee_id,
        department_id,
        asset_id,
        created_at,
        accepted_at,
        resolved_at,
        closed_at,
        deadline_at,
        updated_at
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.example.opsflow.ticket.entity.Ticket" useGeneratedKeys="true">
        insert into sys_ticket
        (ticket_no,title,description,category,priority,
        status,creator_id,department_id)
        values (#{ticketNo,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{category,jdbcType=VARCHAR},#{priority,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},#{creatorId,jdbcType=BIGINT},#{departmentId,jdbcType=BIGINT})
    </insert>
    <update id="acceptTicket">
        UPDATE sys_ticket
        SET assignee_id = #{assigneeId}, status = 'PROCESSING',accepted_at = LOCALTIMESTAMP
        WHERE id = #{id} AND status = 'PENDING' AND assignee_id IS NULL
    </update>
    <update id="resolveTicket">
        UPDATE sys_ticket
        SET resolved_at = LOCALTIMESTAMP, status = 'RESOLVED'
        WHERE id = #{id} AND status = 'PROCESSING' AND assignee_id = #{assigneeId}
    </update>
    <update id="closeTicket">
        UPDATE sys_ticket
        SET closed_at = LOCALTIMESTAMP, status = 'CLOSED'
        WHERE id = #{id} AND status = 'RESOLVED' AND creator_id = #{creatorId}
    </update>
    <update id="cancelTicket">
        UPDATE sys_ticket
        SET status = 'CANCELED'
        WHERE id = #{id} AND status = 'PENDING' AND creator_id = #{creatorId}
    </update>
    <update id="updatePendingTicket">
        UPDATE sys_ticket
        SET title = #{title},description = #{description},priority = #{priority},category = #{category}
        WHERE id = #{id} AND creator_id = #{creatorId} AND status = 'PENDING'
    </update>

    <select id="findByCreatorId"
            resultType="org.example.opsflow.ticket.entity.Ticket">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_ticket
        WHERE creator_id = #{creatorId}
        ORDER BY created_at DESC,id DESC
    </select>

    <select id="findById"
            resultType="org.example.opsflow.ticket.entity.Ticket">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_ticket
        WHERE id = #{id}
    </select>

    <select id="findPendingTickets"
            resultType="org.example.opsflow.ticket.entity.Ticket">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_ticket
        WHERE status = 'PENDING' AND assignee_id IS NULL
        ORDER BY created_at DESC,id DESC
    </select>
    <select id="findProcessingByAssigneeId" resultType="org.example.opsflow.ticket.entity.Ticket">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_ticket
        WHERE assignee_id = #{assigneeId}
        AND status = 'PROCESSING'
        ORDER BY accepted_at DESC,id DESC
    </select>


</mapper>