<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.opsflow.rbac.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="org.example.opsflow.rbac.entity.Permission">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="status" column="status" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,description,status,created_at,
        updated_at
    </sql>
    <select id="countEnabledByIds" resultType="int">
        SELECT COUNT(*)
        FROM sys_permission
        WHERE status = 1
        AND id IN
        <foreach collection="permissionIds"
                 item="permissionId"
                 open="("
                 separator=","
                 close=")">
            #{permissionId}
        </foreach>
    </select>
    <select id="findEnabledByUserId" resultType="org.example.opsflow.rbac.entity.Permission">
        SELECT DISTINCT p.id,p.name,p.code,p.description,p.status,p.created_at,p.updated_at
        FROM sys_user_role ur
        JOIN sys_role r
        ON r.id = ur.role_id
        JOIN sys_role_permission rp
        ON rp.role_id = r.id
        JOIN sys_permission p
        ON p.id = rp.permission_id
        WHERE ur.user_id = #{userId}
        AND r.status = 1
        AND p.status = 1
        ORDER BY p.id
    </select>
    <select id="findEnabledByRoleId" resultType="org.example.opsflow.rbac.entity.Permission">
        SELECT p.id,p.name,p.code,p.description,p.status,p.created_at,p.updated_at
        FROM sys_permission p
        JOIN sys_role_permission rp
            ON p.id = rp.permission_id
        WHERE rp.role_id = #{roleId}
            AND p.status = 1
        ORDER BY p.id
    </select>

    <select id="findAllEnabled" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_permission
        WHERE status = 1
        ORDER BY id
    </select>
</mapper>
