<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.opsflow.user.mapper.UserMapper">
    <sql id="User_Response_Columns">
        u.id,
        u.username,
        u.real_name AS real_name,
        u.email,
        u.phone,
        u.department_id AS department_id,
        department.name AS department_name,
        u.status
    </sql>

    <sql id="User_Response_From">
        FROM sys_user u
        LEFT JOIN sys_department department ON department.id = u.department_id
    </sql>

    <select id="findAll"
            resultType="org.example.opsflow.user.entity.User">
        SELECT id,
                username,
                real_name AS realName,
                email,
                phone,
                department_id AS departmentId,
                status
        FROM sys_user
        ORDER BY id DESC
    </select>

    <select id="findAllResponses"
            resultType="org.example.opsflow.user.dto.UserResponse">
        SELECT
        <include refid="User_Response_Columns"/>
        <include refid="User_Response_From"/>
        ORDER BY u.id DESC
    </select>

    <select id="findByDepartmentId"
            resultType="org.example.opsflow.user.entity.User">
        SELECT id,
        username,
        real_name AS realName,
        email,
        phone,
        department_id AS departmentId,
        status
        FROM sys_user
        WHERE department_id = #{id}
        ORDER BY id DESC
    </select>

    <select id="findResponseById"
            resultType="org.example.opsflow.user.dto.UserResponse">
        SELECT
        <include refid="User_Response_Columns"/>
        <include refid="User_Response_From"/>
        WHERE u.id = #{id}
    </select>

    <select id="findDetailResponseById"
            resultType="org.example.opsflow.user.dto.UserDetailResponse">
        SELECT
        <include refid="User_Response_Columns"/>,
        u.created_at AS created_at,
        u.updated_at AS updated_at
        <include refid="User_Response_From"/>
        WHERE u.id = #{id}
    </select>

    <select id="findResponsesByDepartmentId"
            resultType="org.example.opsflow.user.dto.UserResponse">
        SELECT
        <include refid="User_Response_Columns"/>
        <include refid="User_Response_From"/>
        WHERE u.department_id = #{id}
        ORDER BY u.id DESC
    </select>
</mapper>
